/** Add css rules here for your application. */
.hour-separator {
	border-bottom: 1px solid silver;
	width: 100%;
}

.interval-separator {
	border-bottom: 1px dotted silver;
	width: 100%;
}

.day-separator {
	border-right: 1px solid silver;
	height: 100%;
}

.non-working_hours {
	background-color: #DDDDDD;
}

.temp {
	border: 1px solid black;
}